@import '../../styles/variables';

.report-section {
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  max-width: $lg-min;
}

.cell {
  padding: 20px 10px;

  &.name {
    white-space: nowrap;
  }

  &.values {
    position: relative;
    width: 100%;
  }
}

.bar-container {
  position: relative;
  width: 100%;
  height: 10px;
}

.bar {
  &.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $neutral-dark;
  }

  &.min-value,
  &.max-value,
  &.value {
    position: absolute;
    top: -15px;
    bottom: -15px;
    width: 5px;
  }

  &.min-value,
  &.max-value {
    background: $neutral-darker;
    color: $neutral-light;
  }

  &.value {
    background: $success;
    color: $neutral-light;
  }

  &.low-value,
  &.high-value {
    background: $danger;
    color: $neutral-light;
  }

  .value-number {
    border-radius: 3px;
    background: inherit;
    padding: 0 5px;
  }
}
