@import '~compote/style/animations';

@import 'mixins';
@import 'variables';

@include create-animation('.fade-in-animation', fadeIn $animation-duration $animation-easing);
@include create-animation('.fade-out-animation', fadeOut $animation-duration $animation-easing);

@include create-animation('.spin-right-animation', spinRight (2 * $animation-duration) linear infinite);
@include create-animation('.spin-left-animation', spinLeft (2 * $animation-duration) linear infinite);

@include create-animation('.scale-in-animation', scaleIn $animation-duration ease);
@include create-animation('.scale-out-animation', scaleOut $animation-duration ease);

@keyframes scaleIn {
  from {
    transform: scale(1.2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}
