// Override compote variables
$primary: #3498db;
$primary-dark: #2980b9;

$neutral: #ecf0f1;
$neutral-light: #ffffff;
$neutral-dark: #bdc3c7;
$neutral-darker: #95a5a6;

$font-family: 'Open Sans', 'Arial', sans-serif;

@import '~compote/style/variables';

// Custom variables
$size-xxs: 20px;
$size-xs: 32px;
$size-sm: 48px;
$size-md: 64px;
$size-lg: 96px;
$size-xl: 128px;
$size-xxl: 160px;

$header-height: 75px;
