<!doctype html>
<html lang="bg">
  <head>
    <meta charset="utf-8">
    <title>Lab Design</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" href="icon.png">
    <link rel="manifest" href="manifest.json">
  </head>

  <body>
    <div id="header" class="flex-row align-items-center"></div>
    <div id="content"></div>

    <noscript><h2>JavaScript is not available in your browser. To use this application, please allow JavaScript or use a browser that supports it.</h2></noscript>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </body>
</html>
