@import '../style/variables';
@import '../style/mixins';

$report-test-bar-height: 24px;

.report-details {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 2 * $spacing;
}

.report-test-bar-container {
  position: relative;
  height: $report-test-bar-height;
}

@media (max-width: $sm-max) {
  .report-details {
    grid-template-columns: 1fr auto;
    grid-gap: $spacing;
  }

  .report-test-name {
    grid-column: 1;
  }

  .report-test-unit {
    grid-column: 2;
  }

  .report-test-bar-container {
    grid-column: 1 / -1;
    margin-bottom: 2 * $spacing;

    &::after {
      position: relative;
      top: calc(100% + #{2 * $spacing});
      display: block;
      content: ' ';
      border-bottom: 1px solid $neutral-dark;
    }
  }
}

.report-test-bar {
  color: $neutral-light;

  &.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $neutral-dark;
  }

  &.min-value,
  &.max-value,
  &.value {
    position: absolute;
    top: -5px;
    bottom: -5px;
    width: 5px;

    > .value-number {
      transition: all ($animation-duration / 2) $animation-easing;
      transition-property: border-radius, box-shadow, transform;
    }

    &:hover > .value-number {
      z-index: 1;
      border-radius: 3px;
      box-shadow: 0 0 0px 3px $primary;
      transform: scale(1.2);
    }
  }

  &.min-value,
  &.max-value {
    background: $neutral-darker;
  }

  &.value {
    background: $success;
  }

  &.low-value,
  &.high-value {
    background: $danger;
  }

  .value-number {
    cursor: default;
    margin: 5px 0;
    background: inherit;
    height: $report-test-bar-height;
    padding: 0 5px;
    line-height: $report-test-bar-height;
  }
}
